body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Font styles */

.header-font {
  font-family: 'IBM Plex Serif', serif;
  font-weight: bold;
  color: #424B54;
}

/* Styles for header */

.header {
  background-color: #ffffb3;
  margin-bottom: 20px;

}

.siteTitle {
  color: #424B54;
  font-family: 'Rammetto One', sans-serif;
  padding: 20px;
}

.siteTitle a {
  color: #424B54;
  text-decoration: none;
}

.fa {
  /* Styles for hamburger menu icon */
  background-color: white;
  color: #424B54;
}


/* Styles for navbar */

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #424B54;
}

.navbar-link {
  font-size: 1.5em;
}

.main-nav {
  display: flex;
  flex-direction: row;
}


.main-nav li {
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;

}

.main-nav a {
  color: white;
}

.main-nav .icon {
    display: none;
}

/* Styles for cart */
.cart {
  margin-right: 20px;
}

.totalItems{
  font-family: 'IBM Plex Serif', serif;
  color: white;
  font-size: 1.5em;

}

.money {
  font-family: 'IBM Plex Serif', serif;
  color: white;
  font-size: 1.5em;
}

/* Styles for product display home page */

.introParagraph {
  padding-left: 10px;
  padding-right: 10px;
}

.availableItems {
  border: 1px solid #424B54;
  margin: 5px 0;
}

.productPhoto{
  width: 90%;
  outline: 1px solid lightgrey;
  outline-offset: 3px;
  margin: 10px 0;
}

.item-heading {
  font-family: 'IBM Plex Serif', serif;
  font-weight: bold;
  color: #424B54;
  padding: 12px;
}

.item-amount {
  font-family: 'IBM Plex Serif', serif;
  color: #424B54;
}

.nameDisplay {
  padding-right: 10px;
}

.detail-button {
  font-family: 'Permanent Marker', sans-serif;
  letter-spacing: 2px;
  text-shadow: .5px .5px grey;
  background-color: #8f9779;
  border-radius: 0px;
  border: none;
  width: 90%;
}

.detail-button:hover{
  background-color: #4d5d53;
}

.addButton {
  font-family: 'Permanent Marker', sans-serif;
  letter-spacing: 1px;
  background-color: #00284d;
  color: white;
  margin: 10px 5px;
  border-radius: 0px;
  border: none;
  width: 40%;
}

.removeButton {
  font-family: 'Permanent Marker', sans-serif;
  letter-spacing: 1px;
  background-color: #424B54;
  color: white;
  margin: 10px 5px;
  border-radius: 0px;
  border: none;
  width: 40%;
}

/* Styles for ButterBlog */

.butterposts {
  margin: 2% 5%;
  color: #424B54;
  font-family: 'IBM Plex Serif', serif;
}

.butterpost {
  background-color: #F5F5F5;
  padding: 10px;
  margin-bottom: 15px;
  outline: 1px solid #424B54;
  outline-offset: 3px;
}

.read-more-button {
  font-family: 'Permanent Marker', sans-serif;
  letter-spacing: 2px;
  text-shadow: .5px .5px grey;
  background-color: #8f9779;
  border-radius: 0px;
  border: none;
}

.read-more-button:hover{
  background-color: #4d5d53;
}

/* Styles for contact page */

.contactForm {
  width: 80%;
  margin: auto;
}

.contact-text {
  font-family: 'IBM Plex Serif', serif;
}

.contactSubmit {
  font-family: 'Permanent Marker', sans-serif;
  letter-spacing: 1px;
  background-color: #00284d;
  color: white;
  margin: 10px 5px;
  border-radius: 0px;
  border: none;
}


/* Styles for about page */
.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutPhoto {
  max-width: 90%;
  margin: auto;
  outline: 1px solid lightgrey;
  outline-offset: 3px;
}

.aboutText {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  font-family: 'IBM Plex Serif', serif;
}

/* Media queries */
/* Makes the site title larger on larger screens */
@media only screen and (min-width: 700px) {
  .siteTitle {
    font-size: 4em;
  }
}
/*  Hides menu options and displays the hamburger menu icon on smaller screens */
@media screen and (max-width: 600px) {
  .main-nav a:not(.icon) {display: none;}
  .main-nav a.icon {
    float: right;
    display: block;
  }

  .main-nav.responsive {position: relative;}
  .main-nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .main-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}
