body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Styles for header */

Jumbotron {
    border-radius: none;
}

.header {
  background-color: #E1CE7A;
  border-radius: none;

}

.siteTitle {
  color: #424B54;
  font-family: 'Rammetto One', sans-serif;
}

.siteTitle a {
  color: #424B54;
  text-decoration: none;
}

/* Styles for navbar */

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #424B54;

}

.main-nav {
  display: flex;
  flex-direction: row;
}

.main-nav ul {
  margin-top: none !important;
  margin-bottom: none !important;
}

.main-nav li {
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;

}

.main-nav a {
  color: white;

}

.main-nav .icon {
    display: none;
}

/* Styles for cart */
.cart {
  margin-right: 20px;
}

.totalItems{
  color: white;

}

.money {
  color: white;
}

/* Styles for product display home page */

.availableItems {
  border: 1px solid #424B54;
  margin: 5px 0;
}

.productPhoto{
  width: 90%;
  outline: 1px solid lightgrey;
  outline-offset: 3px;
  margin: 10px 0;
}

.nameDisplay {
  padding-right: 10px;
}
.addButton {
  background-color: #424B54;
  color: white;
  margin: 10px 5px;
}

.removeButton {
  background-color: #424B54;
  color: white;
  margin: 10px 5px;
}

/* Styles for ButterBlog */

.blogheader{
  color: #424B54;
}

.butterposts {
  margin: 2% 5%;
  color: #424B54;
}

.butterpost {
  background-color: #F5F5F5;
  padding: 10px;
  margin-bottom: 15px;
  outline: 1px solid #424B54;
  outline-offset: 3px;
}

/* Styles for contact page */

.contactHeader {
  color: #424B54;
}

.contactForm {
  width: 80%;
  margin: auto;
}

.contactSubmit {
  background-color: #424B54;
  border-color: #6c757d;
}

/* Styles for about page
  Image needs to be resized
*/

.aboutContainer {
  display: flex;
  justify-content: center;
}

.aboutHeader {
  color: #424B54;
}



/* Media queries */
/* Makes the site title larger on larger screens */
@media only screen and (min-width: 700px) {
  .siteTitle {
    font-size: 4em;
  }
}
/*  Hides menu options and displays the hamburger menu icon on smaller screens */
@media screen and (max-width: 500px) {
  .main-nav a:not(.icon) {display: none;}
  .main-nav a.icon {
    float: right;
    display: block;
  }

  .main-nav.responsive {position: relative;}
  .main-nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .main-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}
