body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Styles for  */

.header {
  background-color: #E1CE7A;
  border-radius: none;
}

h1 {
  color: #424B54;
  font-family: 'Rammetto One', sans-serif;
  font-size: 4em;

}

.header-nav {
  display: flex;
  justify-content: space-around;
  background-color: #424B54;

}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-nav li {
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;

}

.main-nav a {
  color: white;
}

.totalItems{
  color: white;
}

.money {
  color: white;
}
.availableItems {
  border: 1px solid #424B54;
  margin: 5px 0;
}

.productPhoto{
  width: 90%;
  outline: 1px solid lightgrey;
  outline-offset: 3px;
  margin: 10px 0;
}

.nameDisplay {
  padding-right: 10px;
}
.addButton {
  background-color: #424B54;
  color: white;
  margin: 10px 5px;
}

.removeButton {
  background-color: #424B54;
  color: white;
  margin: 10px 5px;
}
